@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,500;0,600;0,700;0,800;1,600;1,700;1,800&display=swap"); */
.container_padding {
  padding: 20px;
}
body {
  background-color: #14141f;
  font-family: "Kanit", sans-serif;
}
